@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-midnight-black: #141414;
  --color-charcoal-black: #1f1f1f;
  --color-ebony: #262626;
  --color-ivory: #f9f9f9;
  --color-tarnished: #686868;
  --color-royal: #4f92f7;
  --text-2xs: 10px;
}

:root {
  background-color: var(--color-midnight-black);
  color: var(--color-ivory);
  font-family: Gilroy, sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("./assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("./assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
